* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* color: white; */
}

html,body {
    margin:0;
    padding:0;
    /* not sure on this */
}

body {
    border: blue solid 2px;
    /* padding-left: 30px;
    padding-right: 30px; */
    /* height: 100vh; */
}

.header {
    padding-left: 150px;
    padding-right: 150px;
    background-color: #1f2937;
    color: white;
    border: red solid 2px;
}

.nav-bar,
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: purple solid 2px;
}

.logo {
    max-width: 200px;
}

.header-content {
  gap: 100px;
  flex-wrap: wrap;
}

.main-left {
    flex-basis: 300px;
    flex-grow: 1;
}

button {
    background-color: #3882F6;
    color: white;
    font: medium;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
}

ul {
    list-style-type: none;
    display: inline-flex;
    gap: 10px;
}

a:link, 
a:visited,
a:hover, 
a:active {
    color: white;
    text-decoration: none;
}

.container {
    background-color: teal;
}

.block-one {
    border: mediumseagreen solid 2px;
    background-color: white;
    color: black;
    padding-left: 150px;
    padding-right: 150px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 50px;
}

.block-two {
    border: orange 2px solid;
    background-color: #e5e7eb;
    color: black;
    padding-left: 150px;
    padding-right: 150px;
}

.block-three {
    border: yellow 2px solid;
    background-color: white;
    color: black;
    padding-left: 150px;
    padding-right: 150px;
}

.soccer-balls {
    display: flex;
    justify-content: center;
    border: red solid 2px;
    gap: 50px;
}

.soccer-ball-pic {
    max-width: 100px;
}

.modal {
    background-color: #3882f6;
}

#modal-button {
    border: white 2px solid;
}

.footer {
    background-color: #1f2937;
    color: white;
    text-align: center;
    padding: 30px;
}
